*{
  margin:0;
    padding:0;  
}
body{
    margin:0;
    padding:0;
}
.padre1{
             background-color: transparent;
            margin:0px;
            padding:0;
            z-index:7;
            position: absolute;
            align-content: center;
            display: flex;
            margin: 0;
            margin-bottom: 0;
           
        }
        #clipped-title1 {
            
	background: url(../Imagenes/l1.jpg) no-repeat center center;
	background-size: cover;
       -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
        margin-left: 350px;
        background-color: #424242;
         
        }
        @font-face {
            font-family: "Hamburg";
            src: url("../Fuentes/Hamburg.ttf");
          }
        #clipped-title1 h1 {
            
	font-size: 160px;
	font-family: Hamburg;
	text-align: center;
	-webkit-transition: text-shadow 1s ease;
        /* IMPORTANTE */
        display: inline-block;
        z-index:80;
        
        }
        
        .pmenu{
             padding: 0;
             box-sizing: border-box;
             align-content: center;
             margin-top: 90px;
        }
        
        
        .containermenu{
          position: absolute;
          width: 70%;
          height: 209px;
          overflow: auto;
          left: -250px;
          margin-left:0;
          z-index:40;
             padding: 0;
          
        }
        .sidebarmenu{
            width: 180px;
            height: 100%;
            background: black;
            opacity: .6;
            overflow:visible;
            
        }
        .sidebarmenu img {
            width: 180px;
            display: block;
        }
        .sidebarmenu img:hover {
            background: #fff;
            opacity: .7;
        }
        
        .sidebarmenu ul li {
            list-style: none;
            padding: 10px;
            
        }
        
        
        .sidebarmenu ul li:hover{
            background: #4e4e4e;
            cursor: pointer;
            
        }
        
        .sidebarmenu ul li a {
           text-decoration: none;
           color: white;
           font-size: 17px;
           font-family: 'BlocExtCond';
           
        }
        
        button{
            padding: 1px 1px;
            background: transparent;
            color: white;
            display: block;
            cursor: pointer;
            margin-top: 8px;
            border: none;
            margin-left: 32px;
        }
        .show{
            left: 0;
            
        }
        #contenedor{
            align-content: center;
            text-align: center;
            position: relative;
            
            
        
        }
#apDiv11 {
       position: absolute;
	width: 100%;
	height: 400px;
	z-index: 6;
	border: none;
        margin: 0;
        
        
}
.slides{
    	height:100%;
	width:100%;
	text-align: center;
        align-content: center;
        z-index:0;
        margin: 0;
        
        
        
       
    }   
.slides img{
        position: absolute;
	width: 40%;
	height: 39%;
	z-index: 6;
	border: none;
	}
	
.slidesjs-pagination{
	background:#424242;
	list-style:none;
	overflow:hidden;
}




.slidesjs-pagination li{
float:left;	

}

.slidesjs-pagination li a{
display:none;
padding: 10px 20px;
color: #fff;
text-decoration:none;	
}
.slidesjs-pagination li a:hover{
	background:#000;
	}

.slides .active{
	background:#000;
	
	}

.slidesjs-navigation{
	background:#000;
	color:#fff;
	text-decoration:none;
	display: none;
	float:right;
	}
       .apDiv12-0{
	float: right;
        height: 100%;
	z-index: 6;
	border: none;
         margin-top: 20%;
         background: linear-gradient(70deg, black,olivedrab);
         width: 100%;
         align-content: center;
         padding: 14.2%;
         margin-left: 0;
         text-align: center;
         overflow: auto;
         /*display: none;*/
        }
        #apDiv12-1{
             padding: 50px;
            float: left;
            background-color: #fff;
            height: 500px;
            /* IMPORTANTE */
            display: inline-block;
        }
        
.containermenu1{
          background-color: #fff;
          position: absolute;
          width: 11%;
          height: 725px;
          overflow: auto;
          top: 400px;
          left: 0px;
          margin-left:0;
          z-index:40;
             padding: 0;
          
        }
.sidebarmenu1{
            width: 197px;
            height: 100%;
            opacity: .6;
            overflow:visible;
            
        }
.sidebarmenu1 ul li {
            list-style: none;
            padding: 10px;
            
        }
        
        
        .sidebarmenu1 ul li:hover{
            background: slategrey;
            cursor: pointer;
            
        }
        .sidebarmenu1 ul li a:hover{
           text-decoration: none;
           color: #424242;
           font-size: 22px;
           font-family: 'BlocExtCond';
            
        }
        .sidebarmenu1 ul li a {
           text-decoration: none;
           color: #000;
           font-size: 17px;
           font-family: 'BlocExtCond';
           
        }
        .div1{
            background: url("../Imagenes/vino.jpg");
            background-color: #333;
            background-size: 100% 100%;
            background-repeat:no-repeat;
            background-size: cover;
            display: block;
            position: fixed;
            margin-left: 1%;
            margin-right: 20%;
            left: 0%;
            width: 30%;
            height: 48%;
            overflow: auto; 
            top: 45%;
            z-index:50;
            display: inline-block;  
            align-content: center;
            font-size: 60px;
            border-radius: 2em 1.5em;
            
        }
        
        .div2{
             background: url("../Imagenes/carne.jpg");
            background-color: #333;
            background-size: 100% 100%;
            background-repeat:no-repeat;
            background-size: cover;
            display: block;
            margin-left: 33%;
            margin-right: 5%;
            left: 1%;
            position: fixed;
            width: 30%;
            height: 48%;
            overflow: auto; 
            top: 45%;
            z-index:49;
             display: inline-block;  
            align-content: center;
            font-size: 60px;
            border-radius: 1em 2em;
        }
        .div3{
            background: url("../Imagenes/portadaveg.jpg");
            background-color: #333;
            background-size: 100% 100%;
            background-repeat:no-repeat;
            background-size: cover;
            display: block;
            margin-left: 66%;
            margin-right: 5%;
            left: 1%;
            position: fixed;
            width: 30%;
            height: 48%;
            overflow: auto; 
            top: 45%;
            z-index:48;
            display: inline-block;  
            align-content: center;
            font-size: 60px;
            border-radius: 1em 2em;
        }
        
/***********************************CARTA 1***********************************************/
@font-face {
                            font-family: "PAN y VINO";
                            src: url("../Fuentes/PAN y VINO.ttf");
                          }        
#btnModal{
                            
                            font-size: 25px;
                            font-family: PAN y VINO;
                            margin-top: 20%;
                            margin-left: 40%;
                             padding: 20px;
                             align-content: center;
                        }
        #btnModal:nth-child(2):hover{
            box-shadow:  0px 15px 15px #FBF40D; 
            border-radius: 2em 2em;
        }
        
        div#info{
            width: 100%;
            height: 100%;
           position: absolute;
           background-color: rgba(31,31,31,0.9);
           -webkit-transition: opacity 0.4s;
           opacity: 0;
            
        }
        div#imagen:hover div#info:hover{
            opacity: 0.8;
        }
        
        p#p1{
            font-weight: bold; 
            text-align: center;
            font-size: 34px; 
            color: #E5E8E8 ; 
            font-family: PAN y VINO;
            text-align: center;
            margin-top: 10px;
            -webkit-transition: margin 0.3s;
            visibility:hidden;
        }
        div#imagen:hover p#p1{
            
            visibility: visible;

            
        }
        p#p1:nth-child(2):hover{
            box-shadow: 10px 10px 10px 10px #c32aa3;
        }
/***********************************CARTA 2***********************************************/
         @font-face {
                            font-family: "Carnevalee Freakshow";
                            src: url("../Fuentes/Carnevalee Freakshow.ttf");
                          }
        #btnModal1{
                            font-family: Carnevalee Freakshow;
                            font-size: 45px;
                            margin-top: 20%;
                            margin-left: 40%;
                             padding: 20px;
                             align-content: center;
                        }
        #btnModal1:nth-child(2):hover{
            box-shadow:  0px 15px 15px #D82A05; 
            border-radius: 2em 2em;
            
        }
        
        #info1{
            width: 100%;
            height: 100%;
           position: absolute;
           background-color: rgba(31,31,31,0.9);
           -webkit-transition: opacity 0.4s;
           opacity: 0;
            
        }
        #imagen1:hover #info1:hover{
            opacity: 0.8;
        }
        
        #p2{
            font-weight: bold; 
            text-align: center;
            font-size: 45px; 
            color: #E5E8E8 ; 
            font-family: Carnevalee Freakshow;
            text-align: center;
            margin-top: 10px;
            -webkit-transition: margin 0.3s;
            visibility:hidden;
        }
        #imagen1:hover #p2{
            
            visibility: visible;

            
        }
        #p2:nth-child(2):hover{
            box-shadow: 10px 10px 10px 10px #c32aa3;
        }
        .tooltip {
                position: relative;
                display: inline-block;
                
            }

            .tooltip .tooltiptext {
                visibility: hidden;
                width: 210px;
                background: linear-gradient(70deg, black, gray);
                color: #fff;
                text-align: center;
                border-bottom-right-radius: 4em 4em;
                border-top-left-radius: 4em 4em;
                padding: 5px 0;

                /* Position the tooltip */
                position: absolute;
                z-index: 1;
            }

            .tooltip:hover .tooltiptext {
                visibility: visible;
            }

/***********************************CARTA 3***********************************************/
         @font-face {
                            font-family: "vegan";
                            src: url("../Fuentes/vegan.ttf");
                          }
        #btnModal2{
                            font-family: vegan;
                            font-size: 45px;
                           margin-top: 10%;
                            margin-left: 40%;
                             padding: 20px;
                             align-content: center;
                        }
        #btnModal2:nth-child(2):hover{
            box-shadow:  0px 15px 15px #05D82A; 
            border-radius: 2em 2em;
            
        }
        
        #info2{
            width: 100%;
            height: 100%;
           position: absolute;
           background-color: rgba(31,31,31,0.9);
           -webkit-transition: opacity 0.4s;
           opacity: 0;
            
        }
        #imagen2:hover #info2:hover{
            opacity: 0.8;
            
        }
        
        #p3{
            font-weight: bold; 
            text-align: center;
            font-size: 72px; 
            color: #E5E8E8 ; 
            font-family: vegan;
            text-align: center;
            margin-top: 10px;
            -webkit-transition: margin 0.3s;
            visibility:hidden;
        }
        #imagen2:hover #p3{
            
            visibility: visible;

            
        }
        #p3:nth-child(2):hover{
            box-shadow: 10px 10px 10px 10px #c32aa3;
        }
/**********************SESION ARGENTINA/Comida de Mar**********************************/
@font-face {
                            font-family: "BerthaMelanie";
                            src: url("../Fuentes/BerthaMelanie.ttf");
                          }
.apDiv12{
            z-index: 6;
            border: none;
            align-content: center;
            display: none;
        } 
#padre{
    
    text-align: center;
    margin-top: 4%;
}

.hijo {
  background-color: transparent;
  margin-top: 295px;
  padding: 5px;
  float: right;
  width: 88%;
  
  /* IMPORTANTE */
  display: inline-block;
}
.hijo1 {
    padding: 20px 30px;
    display: flex;
    background-color: #fff;
    align-items: center;
    margin-bottom: 10px;
    height: 50%;
    
}

.product{
    display: inline-block;
}
.product img{
    width: 150px;
    height: 150px;
    margin: 20px;
}
.product h3{
    font-family: BerthaMelanie;
    font-size: 1.7em;
    margin-top: 2px;
    margin-bottom: 5px;
}
.card{
    margin: 5px;
    width: 180px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.6), 5px 2px rgba(0,0,0,0.1);
    
 
}
/*Producto Individual*/
@font-face {
                            font-family: "vegan";
                            src: url("../Fuentes/vegan.ttf");
                          }
        #btnModala{
                            font-family: vegan;
                            font-size: 25px;
                            margin-top: 1px;
                            margin-left: 60px;
                             align-content: center;
                        }
        #btnModala:nth-child(2):hover{
            box-shadow: 5px 5px 5px 5px #05D82A; 
            border-radius: 2em 2em;
            
        }
div#infoa{
            width: 160px;
            height: 180px;
            padding:10px;
           position: absolute;
           background-color: #000;
           -webkit-transition: opacity 0.4s;
           opacity: 0;
           align-content: center;
           text-align: center;
           
            
        }
        div#imagena:hover div#infoa:hover{
            opacity: 0.8;
        }
        
        p#pa{
            font-weight: bold; 
            text-align: center;
            font-size: 12px; 
            color: #E5E8E8 ; 
            font-family: PAN y VINO;
            text-align: center;
            margin-top: 10px;
            -webkit-transition: margin 0.3s;
            visibility:hidden;
        }
        div#imagena:hover p#pa{
            
            visibility: visible;

            
        }
        p#pa:nth-child(2):hover{
            box-shadow: 10px 10px 10px 10px #c32aa3;
        }
        .Filtro{
            background-color: transparent;
            padding: 20px;
            width: 13%;
            display: block;
            float: right;
            text-align: center;
            
        }
        .bg{
            
            padding: 3px;
            margin: 0;
            display: block;
            font-size: 16px;
            color: #000;
            font-weight: bold;
            text-align: center;
            position: absolute;
            box-shadow: 0 1px 1px rgba(0,0,0,0.6), 3px 2px rgba(0,0,0,0.1);
        }
        .containermenus{
          position: absolute;
          top: 460px;
          left: 86%;
          margin-left:0;
          z-index:40;
             padding: 0;
             display: none;
             
          
        }
        .sidebarmenus{
            width: 180px;
            height: 100%;
            background: black;
            opacity: .6;
            border-radius: 2em 1.5em;
            
        }
        
        .sidebarmenus ul li {
            list-style: none;
            padding: 10px;
            
        }
        
        
        .sidebarmenus ul li:hover{
            background: #4e4e4e;
            cursor: pointer;
        }
        
        .sidebarmenus ul li a {
           text-decoration: none;
           color: white;
           font-size: 17px;
           font-family: 'BlocExtCond';
           
        }
        .show{
            left: 0;
        }
        
        
  